<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="shortcut icon" href="/img/logo2.png" type="image/x-icon" th:href="@{/img/logo2.png}">
<link rel="stylesheet" href="/font/iconfont.css">
<link rel='stylesheet' type='text/css' href='/css/main.css' th:href="@{/css/main.css}"/>
<div id="sidebar" th:fragment="leftmenu" >
    <div class="logo">
        <a href="/" title="云之讯"><img src="/img/logo2.png" alt="云之讯" /></a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/console" class="cur"><span class="iconfont icon-shouyeshouye"></span>首页</a></li>
            <li>
                <a href="javascript:void(0)"><span class="iconfont icon-duanxin"></span>传统短信<i></i></a>
                <ul class="sub-nav">
                    <li><a href="/console/bussiness/send.html" class="dxfs" th:if="${session.LOGIN_USER_INFO.smsfrom==6}">短信发送<span></span></a></li>
                    <li><a href="/console/bussiness/template.html" class="dxmbgl" th:if="${session.LOGIN_USER_INFO.smsfrom==6}">短信模板管理<span></span></a></li>
                    <li><a href="/console/bussiness/record.html"  class="dxfsjl">短信发送记录<span></span></a></li>
                    <li><a href="/console/bussiness/statistics.html" class="cur">短信数据统计<span></span></a></li>
                    <li><a href="/console/bussiness/price.html"  class="gjdxbj">国际短信报价<span></span></a></li>
                </ul>
            </li>
            <li th:if="${session.LOGIN_USER_INFO.smsfrom==6}">
                <a href="javascript:void(0)"><span class="iconfont icon-caixin2"></span>彩印<i></i></a>
                <ul class="sub-nav">
                    <li><a href="/console/mms/send.html" class="cyfs">彩印发送<span></span></a></li>
                    <li><a href="/console/mms/template.html" class="cymbgl">彩印模版管理<span></span></a></li>
                    <li><a href="/console/mms/record.html"  class="cyfsjl">彩印发送记录<span></span></a></li>
                    <li><a href="/console/mms/ussdday.html" class="cysjtj">彩印数据统计<span></span></a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><span class="iconfont icon-qianbi01"></span>财务管理<i></i></a>
                <ul class="sub-nav">
                    <li><a href="/console/order/list.html" class="wddd">我的订单<span></span></a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><span class="iconfont icon-shenfenzheng"></span>账户管理<i></i></a>
                <ul class="sub-nav">
                    <li><a href="/console/account/info.html" class="zhzl">账户资料<span></span></a></li>
                    <li><a href="/console/account/security.html" class="zhaq">账户安全<span></span></a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><span class="iconfont icon-bangzhuzhongxin"></span>帮助中心<i></i></a>
                <ul class="sub-nav">
                    <li><a href="/console/help/smsAccessIntroduce.html" class="dxjr">短信接入<span></span></a></li>
                    <li><a href="/console/help/FAQ.html" class="faq
                            ">FAQ<span></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<script th:inline="javascript"  th:fragment="js">
    /*<![CDATA[*/
    $(document).ready(function() {
        $("#sidebar lu li a").click(function(){
            $(this).addClass("cur").parent().siblings().find("a").removeClass("cur");
        });

        });

    /*]]>*/
</script>
</div>
</html>